<h2 mat-dialog-title style="margin: 0 0 30px 0">Category</h2>
<div mat-dialog-content>
  {{data.id}}
  
  <form class="example-form">
        <input type="text" name="title" placeholder="Category title" [(ngModel)]="data.title">
      
    </form>
</div>