<div *ngFor="let category of categories">
  <ul>
    <li>
      <span (click)="handleCategoryClick(category.title, category.parent_id)">{{category.title}}</span>
      <app-categories [categories]="category.children" *ngIf="category.children"></app-categories>
    </li>
  </ul>
</div>