<div class="container">
    <div *ngIf="categories">
        <!--<div *ngFor="let category of categories">
            {{ category.title }}
        </div>-->
        <app-categories [categories]="categories"></app-categories>
    </div>
    <mat-form-field class="example-full-width">
        <input [(ngModel)]="keyWord" (keydown.enter)="serchPhoto()" matInput placeholder="Search" value="">
        <mat-icon (click)="serchPhoto()" matSuffix class="serchIcon" *ngIf="keyWord">search</mat-icon>
    </mat-form-field>
    <mat-grid-list cols="3" rowHeight="1:1" *ngIf="photos">
        <mat-grid-tile *ngFor="let photo of photos">
            <mat-card style="margin: 0 10px; width: 100%; height: 200px;">
                <mat-spinner *ngIf="loading[photo.id]" class="spinnerIcon"></mat-spinner>
                <img style="height: 200px; width: 100%; object-fit: none;" (click)="getPhotoInfo(photo.id)" src="http://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg">
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>