<h2 mat-dialog-title style="margin: 0 0 30px 0">Photo details</h2>
<div mat-dialog-content>
  <img style=" margin-bottom: 30px;    box-shadow: 0 0 40px #8080804d;
  border-radius: 3px;" class="modalImg" src="http://farm{{data && data.farm}}.staticflickr.com/{{data && data.server}}/{{data.id}}_{{data.secret}}.jpg">
  <div mat-list role="list">
    <div mat-list-item role="listitem"><strong>Title:</strong> {{data.title._content}}</div>
    <div mat-divider></div>
    <div mat-list-item role="listitem"><strong>Desctription:</strong> {{data.description._content}}</div>
    <div mat-divider></div>
    <div mat-list-item role="listitem"><strong>Views:</strong> {{data.views}}</div>
    <div mat-divider></div>
  </div>
  <!--<mat-list>
    <mat-list-item>Title: {{data.title._content}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Desctription: {{data.description._content}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Views: {{data.views}}</mat-list-item>
  </mat-list>-->
</div>